force-app/main/default/flows/Clase_cohorte.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_notificacion</name>
        <label>Enviar notificacion</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>cuerpo_noti</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Cohorte__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Obtener_notificacion.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>usuarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Nuevo quiz</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>guardar_usuarios</name>
        <label>guardar usuarios</label>
        <locationX>138</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>usuarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>bucle_usuarios.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucle_usuarios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>si_tiene_quiz</name>
        <label>si tiene quiz</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>tiene_quiz</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>nombre_quiz</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bucle_quiz.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>bucle_quiz</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>enviar_notificacionq</name>
        <label>enviar notificación</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tiene_quiz</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_notificacion</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>validar_quiz</name>
        <label>validar quiz</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>bucle_quiz</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Clase_sig_con_quiz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bucle_quiz.Clase__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Obtener_clases_siguiente.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>si_tiene_quiz</targetReference>
            </connector>
            <label>Clase sig con quiz</label>
        </rules>
    </decisions>
    <description>Flujo desencadenado por registro para el objeto Clase de cohorte</description>
    <environments>Default</environments>
    <formulas>
        <description>Fórmula para saber cual es la clase siguiente</description>
        <name>ClaseSiguiente</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Clase__r.Orden__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Clase cohorte {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clase cohorte</label>
    <loops>
        <name>bucle_quiz</name>
        <label>bucle quiz</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>Obtener_quiz</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>validar_quiz</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>enviar_notificacionq</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>bucle_usuarios</name>
        <label>bucle usuarios</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <collectionReference>Obtener_usuarios</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>guardar_usuarios</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>obtener_modulo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Se obtienen la siguiente clase</description>
        <name>Obtener_clases_siguiente</name>
        <label>Obtener clases siguiente</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_quiz</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orden__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClaseSiguiente</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ruta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Clase__r.Ruta__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Clase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_modulo</name>
        <label>obtener módulo</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enviar_notificacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cohorte__r.Modulo__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>M_dulo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene el id de la identificación</description>
        <name>Obtener_notificacion</name>
        <label>Obtener notificacion</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_perfil</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notificacion_quiz</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_perfil</name>
        <label>Obtener perfil</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_usuarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Entrenador Salesforce</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_quiz</name>
        <label>Obtener quiz</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>bucle_quiz</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quiz__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_usuarios</name>
        <label>Obtener usuarios</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>bucle_usuarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_perfil.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_clases_siguiente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Completada__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Clase_de_cohorte__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>cuerpo_noti</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A partir de la clase {!Obtener_clases_siguiente.Name} del módulo {!obtener_modulo.Name} se podra realizar el quiz {!nombre_quiz}</text>
    </textTemplates>
    <variables>
        <name>nombre_quiz</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tiene_quiz</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>usuarios</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
