force-app/main/default/flows/Encontrar_remplazo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>asigna_ids_de_habilidades</name>
        <label>asigna ids de habilidades</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>habilidadesIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>idsHabilidades</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>obtener_habilidades_de_contactos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignar_los_nombres_desde_la_pantalla</name>
        <label>asignar los nombres desde la pantalla</label>
        <locationX>264</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>asignarNombresNuevos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>asignar_los_nombres_de_la_pantalla</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asignar_los_nombres_de_la_pantalla</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignar_nombre_de_habilidades_a_lista</name>
        <label>asignar nombre de habilidades a lista</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>nombreHabilidades</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recorre_habilidades.Habilidad__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorre_habilidades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignar_valores_seleccionados</name>
        <label>asignar valores seleccionados</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>selectedValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>habilidades_empleado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>asignar_los_nombres_de_la_pantalla</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>selecciones</name>
        <choiceText>{!habilidades_empleado}</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>habilidadesempleadoactual</name>
        <collectionReference>obtener_nombre_de_habiliadaes</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Habilidad__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>idsHabilidades</name>
        <collectionReference>obtener_ids</collectionReference>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <object>Habilidad__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Encontrar remplazo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Encontrar remplazo</label>
    <loops>
        <name>asignar_los_nombres_de_la_pantalla</name>
        <label>asignar los nombres de la pantalla</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <collectionReference>selectedValues</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asignar_los_nombres_desde_la_pantalla</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>obtener_ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorre_habilidades</name>
        <label>recorre habilidades</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>obtener_habilidades_del_empleado</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asignar_nombre_de_habilidades_a_lista</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>obtener_nombre_de_habiliadaes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>obtener_habilidades_de_contactos</name>
        <label>obtener habilidades de contactos</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copia_1_de_mostrar_variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Habilidad__c</field>
            <operator>In</operator>
            <value>
                <elementReference>habilidadesIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Habilidad_del_contacto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_habilidades_del_empleado</name>
        <label>obtener habilidades del empleado</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorre_habilidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contacto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Habilidad_del_contacto__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Habilidad__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_ids</name>
        <label>obtener ids</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>asigna_ids_de_habilidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>asignarNombresNuevos</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Habilidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_nombre_de_habiliadaes</name>
        <label>obtener nombre de habiliadaes</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>listar_habilidadaes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>In</operator>
            <value>
                <elementReference>nombreHabilidades</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Habilidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copia_1_de_mostrar_variables</name>
        <label>Copia 1 de mostrar variables</label>
        <locationX>176</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>slectedValuesScreem</name>
            <fieldText>&lt;p&gt;{!selectedValues}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>idsHabili</name>
            <fieldText>&lt;p&gt;{!obtener_ids}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>listar_habilidadaes</name>
        <label>listar habilidadaes</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>asignar_valores_seleccionados</targetReference>
        </connector>
        <fields>
            <name>habilidades_empleado</name>
            <choiceReferences>habilidadesempleadoactual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Habilidades del empleado actual</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtener_habilidades_del_empleado</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>asignarNombresNuevos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>habilidadesIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nombreHabilidades</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>selectedValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
