force-app/main/default/flows/Flujo_certificacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>enviar_para_aprobacion</name>
        <label>enviar para aprobación</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobar_intento</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Miembro_de_la_cohorte__r.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>cuenta_certificaciones</name>
        <label>cuenta certificaciones</label>
        <locationX>270</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorre_certificaciones</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>contacto_certificado</name>
        <label>contacto certificado</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_certificado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contador</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>intentosPermitidos</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtener_habilidad_del_contacto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>enviar_para_aprobacion</targetReference>
            </connector>
            <label>no certificado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Flujo certificación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo certificación</label>
    <loops>
        <name>recorre_certificaciones</name>
        <label>recorre certificaciones</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <collectionReference>obtener_certificaciones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>cuenta_certificaciones</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>crea_intentos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtener_certificaciones</name>
        <label>obtener certificaciones</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorre_certificaciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Miembro_de_la_cohorte__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Miembro_de_la_cohorte__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_certificaci_n__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Tipo_de_certificaci_n__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Certificaci_n__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_habilidad_del_contacto</name>
        <label>obtener habilidad del contacto</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contacto_certificado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contacto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Miembro_de_la_cohorte__r.Empleado__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Habilidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>obtener_habilidades.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Habilidad_del_contacto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_habilidades</name>
        <label>obtener habilidades</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>obtener_habilidad_del_contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Certificaci_n__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Habilidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_intentos_permitidos</name>
        <label>obtener intentos permitidos</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>obtener_habilidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Miembro_de_la_cohorte__r.Cohorte__r.Modulo__r.Id</elementReference>
            </value>
        </filters>
        <object>M_dulo__c</object>
        <outputAssignments>
            <assignToReference>intentosPermitidos</assignToReference>
            <field>Intentos_de_certificacion_permitidos__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>crea_intentos</name>
        <label>crea intentos</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>obtener_intentos_permitidos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Miembro_de_la_cohorte__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Intentos_realizados__c</field>
            <value>
                <elementReference>contador</elementReference>
            </value>
        </inputAssignments>
        <object>Miembro_de_la_cohorte__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>obtener_certificaciones</targetReference>
        </connector>
        <object>Certificaci_n__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>intentosPermitidos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
