force-app/main/default/flows/Flujo_Intentos_de_certificacion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>enviar_para_aprobacion</name>
        <label>enviar para aprobación</label>
        <locationX>94</locationX>
        <locationY>2855</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Aprobar_intento</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Miembro_de_la_cohorte__r.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>cuenta_certificaciones</name>
        <label>cuenta certificaciones</label>
        <locationX>314</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Promediodecertificacion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recorre_certificaciones.Resultado__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>recorre_certificaciones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna valor true a la variable habilidad si la habilidad que deriva de la certificación coincide con una de las habilidades del empleado</description>
        <name>Tiene_habilidad</name>
        <label>Tiene habilidad</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>habilidad</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cada_habilidad_empleado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>contacto_certificado</name>
        <label>contacto certificado</label>
        <locationX>226</locationX>
        <locationY>2735</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_certificado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contador</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>intentosPermitidos</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>obtener_habilidad_del_contacto.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>enviar_para_aprobacion</targetReference>
            </connector>
            <label>no certificado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comparar la habilidad derivada de la certificación con las habilidades que ya hn sido asignadas al empleado</description>
        <name>Misma_habilidad_de_certificaci_n</name>
        <label>¿Misma habilidad de certificación?</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Cada_habilidad_empleado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cada_habilidad_empleado.Habilidad__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Certificaciones_Salesforce__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tiene_habilidad</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validar si el registro de certificación está marcado como aprobado o no</description>
        <name>Se_certifico</name>
        <label>¿Se certificó?</label>
        <locationX>226</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>obtener_certificaciones</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Certificado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Aprueba__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Habilidades_empleado</targetReference>
            </connector>
            <label>Certificado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica el valor que tiene la variable habilidad para determinar si crear un registro con la nueva habilidad al empleado</description>
        <name>Tiene_o_no_tiene_habilidad</name>
        <label>¿Tiene o no tiene habilidad?</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Crear_habilidad_contacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Verdadero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>habilidad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>obtener_certificaciones</targetReference>
            </connector>
            <label>Verdadero</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaPromedio</name>
        <dataType>Number</dataType>
        <expression>{!Promediodecertificacion}/{!contador}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Flujo Intentos de certificación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Intentos de certificación</label>
    <loops>
        <description>Analizar cada una de las habilidades del empleado certificado</description>
        <name>Cada_habilidad_empleado</name>
        <label>Cada habilidad empleado</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>Habilidades_empleado</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Misma_habilidad_de_certificaci_n</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tiene_o_no_tiene_habilidad</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>recorre_certificaciones</name>
        <label>recorre certificaciones</label>
        <locationX>226</locationX>
        <locationY>1919</locationY>
        <collectionReference>obtener_certificaciones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>cuenta_certificaciones</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>crea_intentos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>El empleado no tiene asignada la habilidad derivada de obtener la certificación, por tanto, una nueva habilidad le es asignada</description>
        <name>Crear_habilidad_contacto</name>
        <label>Crear habilidad contacto</label>
        <locationX>138</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Actualiza_certificado</targetReference>
        </connector>
        <inputAssignments>
            <field>Contacto__c</field>
            <value>
                <elementReference>$Record.Miembro_de_la_cohorte__r.Empleado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Habilidad__c</field>
            <value>
                <elementReference>Habilidades_predefinidas.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Habilidad_del_contacto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Registros de habilidades actuales del empleado</description>
        <name>Habilidades_empleado</name>
        <label>Habilidades empleado</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Habilidades_predefinidas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contacto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Miembro_de_la_cohorte__r.Empleado__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Habilidad_del_contacto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Registro de habilidade recurrentes que se han establecido previamente para su uso</description>
        <name>Habilidades_predefinidas</name>
        <label>Habilidades predefinidas</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cada_habilidad_empleado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Certificaciones_Salesforce__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Habilidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_certificaciones</name>
        <label>obtener certificaciones</label>
        <locationX>226</locationX>
        <locationY>1799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>recorre_certificaciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Miembro_de_la_cohorte__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Miembro_de_la_cohorte__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Certificaciones_Salesforce__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Certificaciones_Salesforce__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_intento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Certificación</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Intento_de_certificacion__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_habilidad_del_contacto</name>
        <label>obtener habilidad del contacto</label>
        <locationX>226</locationX>
        <locationY>2615</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contacto_certificado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contacto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Miembro_de_la_cohorte__r.Empleado__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Habilidad__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>obtener_habilidades.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Habilidad_del_contacto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_habilidades</name>
        <label>obtener habilidades</label>
        <locationX>226</locationX>
        <locationY>2495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>obtener_habilidad_del_contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Certificaciones_Salesforce__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Habilidad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>obtener_intentos_permitidos</name>
        <label>obtener intentos permitidos</label>
        <locationX>226</locationX>
        <locationY>2375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>obtener_habilidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Miembro_de_la_cohorte__r.Cohorte__r.Modulo__r.Id</elementReference>
            </value>
        </filters>
        <object>M_dulo__c</object>
        <outputAssignments>
            <assignToReference>intentosPermitidos</assignToReference>
            <field>Intentos_de_certificacion_permitidos__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_certificado</name>
        <label>Actualiza certificado</label>
        <locationX>138</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>obtener_certificaciones</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Miembro_de_la_cohorte__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Certificado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Miembro_de_la_cohorte__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>crea_intentos</name>
        <label>crea intentos</label>
        <locationX>226</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>obtener_intentos_permitidos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Miembro_de_la_cohorte__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Intentos_realizados__c</field>
            <value>
                <elementReference>contador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promedio_de_certificaci_n__c</field>
            <value>
                <elementReference>FormulaPromedio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ultima_certiicaci_n__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Miembro_de_la_cohorte__c</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Se_certifico</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Dn0000006ee2IAA</stringValue>
            </value>
        </filters>
        <object>Intento_de_certificacion__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>habilidad</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>intentosPermitidos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Promediodecertificacion</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
