force-app/main/default/flows/Flujo_de_cohorte.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Inicio_de_cohorte</name>
        <label>Inicio de cohorte</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>obtener_correos</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Inicio del módulo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Plantillainiciodemodulo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>obtener_correos.Empleado__r.Email</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Notificación de inicio de módulo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo de cohorte</label>
    <loops>
        <name>obtener_correos</name>
        <label>obtener correos</label>
        <locationX>352</locationX>
        <locationY>408</locationY>
        <collectionReference>obtener_miembros</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Inicio_de_cohorte</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>obtener_miembros</name>
        <label>obtener miembros</label>
        <locationX>352</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>obtener_correos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cohorte__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Miembro_de_la_cohorte__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Cohorte__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>inicio_de_m_dulo</name>
            <connector>
                <targetReference>obtener_miembros</targetReference>
            </connector>
            <label>inicio de módulo</label>
            <offsetNumber>-7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Fecha_de_inicio__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Plantillainiciodemodulo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;img src=&quot;https://media.discordapp.net/attachments/973710581825687582/1054430925427064912/imagen_2022-12-12_094623385.png?width=280&amp;amp;height=54&quot; alt=&quot;imagen_2022-12-12_094623385.png&quot;&gt;&lt;/p&gt;&lt;p&gt;Hola! &lt;strong&gt;{!obtener_correos.Empleado__r.FirstName} {!obtener_correos.Empleado__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Queremos recordarle que el inicio del modulo&lt;strong&gt; {!$Record.Modulo__r.Name}&lt;/strong&gt; de la certificación &lt;strong&gt;{!$Record.Modulo__r.Tipo_de_certificaci_n__c}&lt;/strong&gt; es el día &lt;strong&gt;{!$Record.Fecha_de_inicio__c}&lt;/strong&gt;, le pedimos estar muy puntual y con los elementos necesarios para comenzar este nuevo camino de aprendizaje.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Muchos éxitos!!!&lt;/p&gt;&lt;p&gt;&lt;strong&gt; &lt;/strong&gt;&lt;img src=&quot;https://cdn.discordapp.com/attachments/1054438823133728828/1054438888778764458/imagen_2022-12-12_093431707.png&quot; alt=&quot;imagen_2022-12-12_093431707.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Correos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
