force-app/main/default/flows/Flujo_Novedad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notificaci_n_de_incapacidad</name>
        <label>Notificación de incapacidad</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>bucle_novedades</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>IncapacidadGrande</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Empleado__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Notificac_n_de_incapacidad.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IdUsuarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Incapacidad</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notificacion_de_asignacion_laboral</name>
        <label>Notificacion de asignacion laboral</label>
        <locationX>270</locationX>
        <locationY>1751</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>bucle_novedades</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>PlantillaNotificacion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Empleado__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Obtener_Notificacion.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>IdUsuarios</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Tiene Asignacion Laboral</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Aisgnar_Id_de_Usuario</name>
        <label>Aisgnar Id de Usuario</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>IdUsuarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obtener_Usuarios.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificar_incapacidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>asignar_novedad_a_variable</name>
        <label>asignar novedad a variable</label>
        <locationX>270</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>novedaddeasignacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>bucle_novedades</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Notificacion_de_asignacion_laboral</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_notificacion</name>
        <label>Decision notificacion</label>
        <locationX>402</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>bucle_novedades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Tiene_asignacion_laboral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bucle_novedades.Tipo_de_novedad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asignacion Laboral</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Usuarios.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asignar_novedad_a_variable</targetReference>
            </connector>
            <label>Tiene asignacion laboral</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notificar_incapacidad</name>
        <label>Notificar incapacidad?</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>bucle_novedades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Incapacidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>durracionnovedad</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tipo_de_novedad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incapacidad</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Usuarios.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notificaci_n_de_incapacidad</targetReference>
            </connector>
            <label>Incapacidad</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Indica los días que dura la novedad</description>
        <name>durracionnovedad</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Fecha_de_finalizacion__c} - {!$Record.Fecha_de_inicio__c}) + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Flujo Novedad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Novedad</label>
    <loops>
        <name>bucle_novedades</name>
        <label>bucle novedades</label>
        <locationX>182</locationX>
        <locationY>1391</locationY>
        <collectionReference>Obtener_Novedades</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_notificacion</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Notificac_n_de_incapacidad</name>
        <label>Notificacíón de incapacidad</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Perfil</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incapacidad</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Notificacion</name>
        <label>Obtener Notificacion</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notificac_n_de_incapacidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notificacion_Asignacion_Laboral</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>novedades a nombre de ese empleado</description>
        <name>Obtener_Novedades</name>
        <label>Obtener Novedades</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Notificacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Empleado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Empleado__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Novedad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>obtiene el perfil del administrador</description>
        <name>Obtener_Perfil</name>
        <label>Obtener Perfil</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Usuarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Director</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_Usuarios</name>
        <label>Obtener Usuarios</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aisgnar_Id_de_Usuario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_Perfil.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedBy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_Novedades</targetReference>
        </connector>
        <object>Novedad__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Plantilla de notificación</description>
        <name>IncapacidadGrande</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>La incapacidad del empleado {!$Record.Empleado__r.FirstName} {!$Record.Empleado__r.LastName}, iniciada el día {!$Record.Fecha_de_inicio__c}, tiene una duración de {!durracionnovedad} días, tener en cuenta la transcripción.</text>
    </textTemplates>
    <textTemplates>
        <name>PlantillaNotificacion</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Empleado__r.FirstName} {!$Record.Empleado__r.LastName} cuenta con una asignacion laboral a {!novedaddeasignacion.Cliente__r.Name} de {!novedaddeasignacion.Jornada__c}</text>
    </textTemplates>
    <variables>
        <name>IdUsuarios</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>novedaddeasignacion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novedad__c</objectType>
    </variables>
</Flow>
