force-app/main/default/flows/Novedades_Activas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Clasificada_como_laboral</name>
        <label>Clasificada como laboral</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Novedades_laborales</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Clasificar_novedades</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clasificar_novedades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Otra_clasificacion</name>
        <label>Otra clasificación</label>
        <locationX>528</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Otras_novedades</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Clasificar_novedades</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clasificar_novedades</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Uno a uno verificar el tipo de novedad de cada registro de novedad</description>
        <name>Validar_tipo_de_novedad</name>
        <label>Validar tipo de novedad</label>
        <locationX>396</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Otra_clasificacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Es_una_asignacion_laboral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Clasificar_novedades.Tipo_de_novedad__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Asignacion Laboral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clasificada_como_laboral</targetReference>
            </connector>
            <label>¿Es una asignación laboral?</label>
        </rules>
    </decisions>
    <description>Mostrar los registros de novedades activas asociadas al empleado visualizado en el momento</description>
    <environments>Default</environments>
    <interviewLabel>Novedades Activas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Novedades Activas</label>
    <loops>
        <description>Validar el tipoo de novedad de cada registro de novedad y almacenarlo en colecciones diferentes</description>
        <name>Clasificar_novedades</name>
        <label>Clasificar novedades</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Novedades</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validar_tipo_de_novedad</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Novedades_Activas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Obtener el regstro que coincida con la variable de entrada recordId</description>
        <name>Id_de_empleado</name>
        <label>Id de empleado</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Novedades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Registros de novedad asociados al empleado actual</description>
        <name>Novedades</name>
        <label>Novedades</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clasificar_novedades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Empleado__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id_de_empleado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Activo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Novedad__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Visualización de las novedades activas del empleado</description>
        <name>Novedades_Activas</name>
        <label>Novedades Activas</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Laborales</name>
            <fieldText>Laborales</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Laborales_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Registros_novedad_laboral</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Novedad__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Novedades_laborales</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Tipo_de_novedad__c&quot;,&quot;guid&quot;:&quot;column-aa28&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Tipo de novedad&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fecha_de_inicio__c&quot;,&quot;guid&quot;:&quot;column-ed88&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Fecha de inicio&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Fecha_de_finalizacion__c&quot;,&quot;guid&quot;:&quot;column-5715&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Fecha de finalización&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Nombre_de_cliente__c&quot;,&quot;guid&quot;:&quot;column-ad2c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Cliente&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:3,&quot;label&quot;:&quot;Nombre de cliente&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Jornada__c&quot;,&quot;guid&quot;:&quot;column-50e9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Jornada&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Otras</name>
            <fieldText>Otras</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Otras_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Registros_otras_novedades</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Novedad__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Otras_novedades</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Tipo_de_novedad__c&quot;,&quot;guid&quot;:&quot;column-4226&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Tipo de novedad&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Fecha_de_inicio__c&quot;,&quot;guid&quot;:&quot;column-4fcb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Fecha de inicio&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Fecha_de_finalizacion__c&quot;,&quot;guid&quot;:&quot;column-9f09&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Fecha de finalización&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Id_de_empleado</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Novedades del tipo &quot;Asignación laboral&quot;</description>
        <name>Novedades_laborales</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novedad__c</objectType>
    </variables>
    <variables>
        <description>Novedades distintas a &quot;Asignación laboral&quot;</description>
        <name>Otras_novedades</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Novedad__c</objectType>
    </variables>
    <variables>
        <description>Id del empleado</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
