force-app/main/default/flows/NuevaHabilidadContactoYCandidato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>valida que tipo de objeto es</description>
        <name>Tipo_de_Objeto</name>
        <label>Tipo de Objeto</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>candidato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tipoDeObjeto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Habilida_Candidato</targetReference>
            </connector>
            <label>candidato</label>
        </rules>
        <rules>
            <name>Contacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>tipoDeObjeto</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agregar_Habilida_Contacto</targetReference>
            </connector>
            <label>Contacto</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>tipoDeObjeto</name>
        <dataType>String</dataType>
        <expression>
CASE(LEFT({!recordId}, 3), &quot;00Q&quot;, &quot;Lead&quot;, &quot;003&quot;, &quot;Contact&quot;,&quot;Nada&quot;)</expression>
    </formulas>
    <interviewLabel>NuevaHabilidadContactoYCandidato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NuevaHabilidadContactoYCandidato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Crear_Habilidad_Candidato</name>
        <label>Crear Habilidad Candidato</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <faultConnector>
            <targetReference>errorCandidato</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Candidato__c</field>
            <value>
                <elementReference>CandidatoHabilidad.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Habilidad__c</field>
            <value>
                <elementReference>HabilidadSeleccionadaCandidato.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Habilidad_del_contacto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Crear_Habilidad_Contacto</name>
        <label>Crear Habilidad Contacto</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>errorCandidato</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contacto__c</field>
            <value>
                <elementReference>ContactoHabilidad.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Habilidad__c</field>
            <value>
                <elementReference>HabilidadSeleccionadaContacto.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Habilidad_del_contacto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Agregar_Habilida_Candidato</name>
        <label>Agregar Habilida Candidato</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crear_Habilidad_Candidato</targetReference>
        </connector>
        <fields>
            <name>Agregar_Habilida_Candidato_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Agregar_Habilida_Candidato_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CandidatoHabilidad</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Candidato__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Habilidad_del_contacto__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Candidato</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Agregar_Habilida_Candidato_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HabilidadSeleccionadaCandidato</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Habilidad_del_contacto__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Habilidad__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Habilidad</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Agregar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Agregar_Habilida_Contacto</name>
        <label>Agregar Habilida Contacto</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crear_Habilidad_Contacto</targetReference>
        </connector>
        <fields>
            <name>Agregar_Habilida_Contacto_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Agregar_Habilida_Contacto_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContactoHabilidad</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contacto__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Habilidad_del_contacto__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contacto</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Agregar_Habilida_Contacto_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HabilidadSeleccionadaContacto</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Habilidad_del_contacto__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Habilidad__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Habilidad</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Agregar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>errorCandidato</name>
        <label>errorCandidato</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>mensajeErrorCandidato</name>
            <fieldText>&lt;p&gt;Se ha producido el siguiente error: {!$Flow.FaultMessage}.&lt;/p&gt;&lt;p&gt;Comuníquese con su administrador.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tipo_de_Objeto</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
