force-app/main/default/flows/pantalla_cohorte.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Mensaje de registro guardado exitosamente</description>
        <name>Registro_guardado</name>
        <label>Registro guardado</label>
        <locationX>182</locationX>
        <locationY>2834</locationY>
        <actionName>c:Mensaje_de_exito</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageText</name>
            <value>
                <stringValue>Empleado agregado correctamente</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Aumenta el contador en 1 cada vez que el empleado no cuenta con un prerrequisito.
Se guarda el prerrequisito que no tiene el empleado en la variable de colección.</description>
        <name>aumentar_contador</name>
        <label>aumentar contador</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>contador</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prerrequisitos_no_cumplidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Revisar_prerrequisitos.Habilidad__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Revisar_prerrequisitos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Variable de colección que sirve para almacenar todas las habilidades que tiene el empleado</description>
        <name>Guardar_habilidades</name>
        <label>Guardar habilidades</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Lista_habilidades</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Revisar_habilidades.Habilidad__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Revisar_habilidades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reinicia el valor de la variable prerrequisitos_no_cumplidos</description>
        <name>Quitar_prerrequisitos</name>
        <label>Quitar prerrequisitos</label>
        <locationX>270</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>prerrequisitos_no_cumplidos</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Obtener_cohorte</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Valida si el contador es mayor a 0 para ser que el empleado no cumplio con alguno de los prerrequisitos</description>
        <name>cumple_los_prerrequisitos</name>
        <label>cumple los prerrequisitos?</label>
        <locationX>182</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Obtener_miembros_cohorte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>no_cumple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contador</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opciones</targetReference>
            </connector>
            <label>no cumple</label>
        </rules>
    </decisions>
    <decisions>
        <name>Empleado_repetido</name>
        <label>Empleado repetido</label>
        <locationX>402</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>Revisar_cohorte</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Empleado_encontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>empleado.recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Revisar_cohorte.Empleado__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensaje_de_error_duplicado</targetReference>
            </connector>
            <label>Empleado encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el empleado tiene en su lista de habilidades el prerrequisito actual del bucle, se pasará al siguiente prerrequisito si no, se debe almacenar el prerrequisito que no cumplio y aumentar un contador para saber cuando no cumplio el prerrequisito</description>
        <name>tiene_los_prerrequisitos</name>
        <label>tiene los prerrequisitos?</label>
        <locationX>358</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>aumentar_contador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No tiene prerrequisito</defaultConnectorLabel>
        <rules>
            <name>tiene_prerrequisito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lista_habilidades</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Revisar_prerrequisitos.Habilidad__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Revisar_prerrequisitos</targetReference>
            </connector>
            <label>tiene prerrequisito</label>
        </rules>
    </decisions>
    <description>Flujo de pantalla para el objeto cohorte</description>
    <environments>Default</environments>
    <formulas>
        <name>comprobacion_prerrequisito_cumplido</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!prerrequisitos_no_cumplidos}),true, false)</expression>
    </formulas>
    <interviewLabel>pantalla cohorte {!$Flow.CurrentDateTime}</interviewLabel>
    <label>pantalla cohorte</label>
    <loops>
        <description>Se revisa cada medio de la cohorte por medio de un bucle</description>
        <name>Revisar_cohorte</name>
        <label>Revisar cohorte</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <collectionReference>Obtener_miembros_cohorte</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Empleado_repetido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Registrar_empleado</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Bucle para registrar las habilidades de empleado y ser comparadas con los prerrequisitos</description>
        <name>Revisar_habilidades</name>
        <label>Revisar_habilidades</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>Obtener_habilidades_contacto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Guardar_habilidades</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Revisar_prerrequisitos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Bucle para comparar los prerrequisitos con las habilidades de empleado, se compara de 1 en 1 los prerrequisitos con toda la lista de habilidades</description>
        <name>Revisar_prerrequisitos</name>
        <label>Revisar prerrequisitos</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <collectionReference>Obtener_prerrequisitos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>tiene_los_prerrequisitos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>cumple_los_prerrequisitos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Crea el registro de miembro de la cohorte con el empleado seleccionado y la cohorte actual</description>
        <name>Registrar_empleado</name>
        <label>Registrar empleado</label>
        <locationX>182</locationX>
        <locationY>2714</locationY>
        <connector>
            <targetReference>Registro_guardado</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Pantalla_de_error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Cohorte__c</field>
            <value>
                <elementReference>Obtener_cohorte.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Empleado__c</field>
            <value>
                <elementReference>empleado.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Miembro_de_la_cohorte__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Se obtiene le id de la cohorte para asignar el miembro de la cohorte</description>
        <name>Obtener_cohorte</name>
        <label>Obtener cohorte</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pantalla_de_registro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cohorte__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se obtienen el registro del empleado para guardar sus habilidades</description>
        <name>Obtener_habilidades_contacto</name>
        <label>Obtener habilidades contacto</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revisar_habilidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contacto__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>empleado.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Habilidad_del_contacto__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se obtienen todos los miembros de la cohorte para validar si el miembro que se quiere ingresar ya se encuentra en ella</description>
        <name>Obtener_miembros_cohorte</name>
        <label>Obtener miembros cohorte</label>
        <locationX>182</locationX>
        <locationY>1862</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Revisar_cohorte</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cohorte__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_cohorte.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Miembro_de_la_cohorte__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se obtienen obtiene el registro del módulo guardar sus prerrequisitos</description>
        <name>Obtener_prerrequisitos</name>
        <label>Obtener prerrequisitos</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_habilidades_contacto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Modulo__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_cohorte.Modulo__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Prerrequisito__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Mensaje de error cuando el empleado ya es miembro de la cohorte</description>
        <name>Mensaje_de_error_duplicado</name>
        <label>Mensaje de error duplicado</label>
        <locationX>270</locationX>
        <locationY>2222</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Quitar_prerrequisitos</targetReference>
        </connector>
        <fields>
            <name>Copia_1_de_mensaje_error_duplicados</name>
            <fieldText>&lt;p&gt;El empleado ya se encuentra registrado en esta cohorte.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla de alerta donde se informa que prerrequisitos no cumple el empleado.</description>
        <name>opciones</name>
        <label>opciones</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Volver</backButtonLabel>
        <connector>
            <targetReference>Obtener_miembros_cohorte</targetReference>
        </connector>
        <fields>
            <name>imagen_alerta</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>img_alerta</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageAlt</name>
                <value>
                    <stringValue>Imagen de alerta</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Alerta</name>
            <fieldText>&lt;p&gt;¡Atención! El empleado no cumple con los siguientes prerrequisitos: {!prerrequisitos_no_cumplidos}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Guardar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_de_error</name>
        <label>Pantalla de error</label>
        <locationX>490</locationX>
        <locationY>2834</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>mensaje_error</name>
            <fieldText>&lt;p&gt;No se ha podido registrar este empleado, por favor revise la información de este o si no cuenta con los permisos adecuados contacte a su administrador&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pantalla_de_registro</name>
        <label>Pantalla de registro</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Obtener_prerrequisitos</targetReference>
        </connector>
        <fields>
            <name>Titulo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Agregar miembros&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>empleado</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Empleado__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Empleado</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Miembro_de_la_cohorte__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Registrar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtener_cohorte</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contador</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Debe ingresar un empleado</stringValue>
        </value>
    </variables>
    <variables>
        <name>Lista_habilidades</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaPrerrequisitos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prerrequisitos_no_cumplidos</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
